@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@200;300;400;500;700&family=Public+Sans:wght@300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
  
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.asidelogo{
    width: 100px;
    height: 80px;
}
.mt-5 ul{
    text-align: center;
    text-transform: uppercase;
}
.mt-5{
    margin-top: 10px;
}
p{
    font-size: 18px;
}
.marketstat{
    width: 800px;
    margin: auto;
}
.flex-ai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.paratitle{
    font-weight: 600;
}
.list ul{
    font-size: 16px;
    font-weight: 500;
}
.sidebar{
    position: sticky;
}
.nav{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
    font-size: 16px;
}
.nav-pills>li{
    font-size: 18px;
}
.nav-pills li a{}

.ol {
    list-style: none;
}
.ol li{
    font-size: 15px;
    line-height: 2;
}
.table{
    display: flex;
    flex-direction: column;
}
.d-flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.stick{
    position: fixed;
}
.btndown{
    background-color: #ffa500;
    width: 250px;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 18px;
}
.btndown span, .btndown i{
    color: #fff;
}